<a href="https://colab.research.google.com/github/Yaqi-graphics/Jackline-Njuguna-Phase-1-Project/blob/main/phase%201%20project%20-%20feeling%20out%20the%20data-%20jackie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [10]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [11]:
dataset_1 = pd.read_csv('bom.movie_gross.csv.gz')
display(dataset_1.head())
display(dataset_1.info())

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

None

In [12]:
dataset_2 = pd.read_csv('imdb.name.basics.csv.gz')
display(dataset_2.head())
display(dataset_2.info())

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   nconst              606648 non-null  object
 1   primary_name        606648 non-null  object
 2   birth_year          82736 non-null   float64
 3   death_year          6783 non-null    float64
 4   primary_profession  555308 non-null  object
 5   known_for_titles    576444 non-null  object
dtypes: float64(2), object(4)
memory usage: 27.8+ MB

None

In [13]:
dataset_3 = pd.read_csv('imdb.title.akas.csv.gz')
display(dataset_3.head())
display(dataset_3.info())

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title_id           331703 non-null  object
 1   ordering           331703 non-null  int64
 2   title              331703 non-null  object
 3   region             278410 non-null  object
 4   language           41715 non-null   object
 5   types              168447 non-null  object
 6   attributes         14925 non-null   object
 7   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB

None

In [14]:
dataset_4 = pd.read_csv('imdb.title.basics.csv.gz')
display(dataset_4.head())
display(dataset_4.info())

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

None

In [15]:
dataset_5 = pd.read_csv('imdb.title.crew.csv.gz')
display(dataset_5.head())
display(dataset_5.info())

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tconst     146144 non-null  object
 1   directors  140417 non-null  object
 2   writers    110261 non-null  object
dtypes: object(3)
memory usage: 3.3+ MB

None

In [16]:
dataset_6 = pd.read_csv('imdb.title.principals.csv.gz')
display(dataset_6.head())
display(dataset_6.info())

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   tconst      1028186 non-null  object
 1   ordering    1028186 non-null  int64
 2   nconst      1028186 non-null  object
 3   category    1028186 non-null  object
 4   job         177684 non-null   object
 5   characters  393360 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB

None

In [17]:
dataset_7 = pd.read_csv('imdb.title.ratings.csv.gz')
display(dataset_7.head())
display(dataset_7.info())

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

None

In [18]:
dataset_8 = pd.read_csv('rt.movie_info.tsv.gz', error_bad_lines=False)
display(dataset_8.head())
display(dataset_8.info())

<ipython-input-18-3aadda5c631b>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  dataset_8 = pd.read_csv('rt.movie_info.tsv.gz', error_bad_lines=False)
Skipping line 7: expected 25 fields, saw 28
Skipping line 58: expected 25 fields, saw 26
Skipping line 60: expected 25 fields, saw 36
Skipping line 95: expected 25 fields, saw 34
Skipping line 161: expected 25 fields, saw 32
Skipping line 235: expected 25 fields, saw 27
Skipping line 326: expected 25 fields, saw 30
Skipping line 425: expected 25 fields, saw 26
Skipping line 476: expected 25 fields, saw 34
Skipping line 497: expected 25 fields, saw 38
Skipping line 504: expected 25 fields, saw 29
Skipping line 526: expected 25 fields, saw 30
Skipping line 535: expected 25 fields, saw 27
Skipping line 554: expected 25 fields, saw 27
Skipping line 562: expected 25 fields, saw 31
Skipping line 581: expected 25 fields, saw 40
Skipping line 725: expected 25 fields, saw 36
Skipping line 858: expected 25 fields, saw 27
Skipping line 880: expected 25 fields, saw 30
Skipping line 970: expected 25 fields, saw 26
Skipping line 997: expected 25 fields, saw 49
Skipping line 1037: expected 25 fields, saw 26
Skipping line 1038: expected 25 fields, saw 30
Skipping line 1051: expected 25 fields, saw 27
Skipping line 1167: expected 25 fields, saw 26
Skipping line 1174: expected 25 fields, saw 28
Skipping line 1195: expected 25 fields, saw 27
Skipping line 1338: expected 25 fields, saw 27
Skipping line 1372: expected 25 fields, saw 29
Skipping line 1396: expected 25 fields, saw 41
Skipping line 1408: expected 25 fields, saw 27
Skipping line 1431: expected 25 fields, saw 27
Skipping line 1541: expected 25 fields, saw 32

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         id\tsynopsis\trating\tgenre\tdirector\twriter\ttheater_date\tdvd_date\tcurrency\tbox_office\truntime\tstudio
1\t"This gritty                                     fast-paced                                         and innovative police drama earned five Academ...  including Best Picture                             Best Adapted Screenplay (written by Ernest Tid...  and Best Actor (Gene Hackman). Jimmy ""Popeye"...  Buddy Russo (Roy Scheider)                         are New York City police detectives on narcoti...  trying to track down the source of heroin from...  and Pierre Nicoli (Marcel Bozzuffi) is a hired...  Popeye and Buddy start tailing Sal Boca (Tony ...  Angie (Arlene Faber)                               who live pretty high for a couple whose corner... 000 dollars a year. It turns out Popeye's suspi...  who will be smuggling 32 million dollars' wort...  an often violent                                   racist                                             and mean-spirited cop whose dedication to his ...  a high-speed car chase with Popeye tailing an ...  was one of the most viscerally exciting screen...  and Eddie Egan and Sonny Grosso  Popeye and Buddy's real life counterparts  both have small roles in the film. A sequel fo...  1971\tSep 25                            2001\t\t\t104 minutes\t
3\tNew York City                                    not-too-distant-future: Eric Packer                a 28 year-old finance golden boy dreaming of l...  watches a dark shadow cast over the firmament ...  of which he is the uncontested king. As he is ...  his anxious eyes are glued to the yuan's excha...  destroying Eric's bet against it. Eric Packer ...  an eruption of wild activity unfolds in the ci...  his paranoia intensifies during the course of ...  2012\tJan 1                                        2013\t$\t600                                      000\t108 minutes\tEntertainment One                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                              NaN                                        NaN                                                NaN                                                          NaN
5\t"Illeana Douglas delivers a superb performan...  a fictional singer and songwriter whose life b...  the daughter of a Philadelphia steel tycoon        aspires to a career as a singer                    and when against her mother's bidding she sing...  ""You'll Never Walk Alone"") at a talent contest   she wins a recording contact and moves to New ...  Denise Waverly; however                            she soon finds that girl singers are a dime a ...  and eccentric producer Joel Milner (John Turtu...  a hipster songwriter who wants to express his ...  she finds both a successful collaborator and h...  their marriage falls apart                         and she becomes involved with Jay Phillips (Ma...  the gifted but unstable leader of a popular We...  and the 1960s-style song score includes number...  as well as one-time King collaborator Gerry Go...  ""God Give Me Strength                             led to a full album written by the two great t...  1996\tApr 18                                       2000\t\t\t116 minutes\t         NaN                                        NaN                                                NaN                                                          NaN
6\tMichael Douglas runs afoul of a treacherous ...  an executive at DigiCom                            a leading computer software firm. DigiCom is a...  and Bob Garvin (Donald Sutherland)                 the owner of the company                           is in the midst of negotiating a merger that c...  1994\tAug 27                                       1997\t\t\t128 minutes\t                           NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                              NaN                                        NaN                                                NaN                                                          NaN
7\t\tNR\tDrama|Romance\tRodney Bennett\tGiles C... NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                                                NaN                              NaN                                        NaN                                                NaN                                                          NaN

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1525 entries, ('1\t"This gritty', ' fast-paced', ' and innovative police drama earned five Academy Awards', ' including Best Picture', ' Best Adapted Screenplay (written by Ernest Tidyman)', ' and Best Actor (Gene Hackman). Jimmy ""Popeye"" Doyle (Hackman) and his partner', ' Buddy Russo (Roy Scheider)', ' are New York City police detectives on narcotics detail', " trying to track down the source of heroin from Europe into the United States. Suave Alain Charnier (Fernando Rey) is the French drug kingpin who provides a large percentage of New York City's dope", " and Pierre Nicoli (Marcel Bozzuffi) is a hired killer and Charnier's right-hand man. Acting on a hunch", ' Popeye and Buddy start tailing Sal Boca (Tony Lo Bianco) and his wife', ' Angie (Arlene Faber)', ' who live pretty high for a couple whose corner store brings in about 7', "000 dollars a year. It turns out Popeye's suspicions are right -- Sal and Angie are the New York agents for Charnier", ' who will be smuggling 32 million dollars\' worth of heroin into the city in a car shipped over from France. The French Connection broke plenty of new ground for screen thrillers; Popeye Doyle was a highly unusual ""hero', ' an often violent', ' racist', " and mean-spirited cop whose dedication to his job fell just short of dangerous obsession. The film's high point", ' a high-speed car chase with Popeye tailing an elevated train', " was one of the most viscerally exciting screen moments of its day and set the stage for dozens of action sequences to follow. And the film's grimy realism (and downbeat ending) was a big change from the buff-and-shine gloss and good-guys-always-win heroics of most police dramas that preceded it. The French Connection was inspired by a true story", ' and Eddie Egan and Sonny Grosso', " Popeye and Buddy's real life counterparts", ' both have small roles in the film. A sequel followed four years later."\tR\tAction and Adventure|Classics|Drama\tWilliam Friedkin\tErnest Tidyman\tOct 9', ' 1971\tSep 25') to ('2000\tSuspended from the force', ' Paris cop Hubert is summoned to Tokyo when his former lover Miko dies. Upon arriving', " Hubert discovers he is to be the legal guardian for Miko's teen daughter Yumi. As Hubert begins to investigate the circumstances surrounding Miko's mysterious death", ' he grows closer to Yumi.\tR\tAction and Adventure|Art House and International|Comedy|Drama|Mystery and Suspense\t\tLuc Besson\tSep 27', ' 2001\tFeb 11', ' 2003\t\t\t94 minutes\tColumbia Pictures', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
Data columns (total 1 columns):
 #   Column                                                                                             Non-Null Count  Dtype
---  ------                                                                                             --------------  -----
 0   id	synopsis	rating	genre	director	writer	theater_date	dvd_date	currency	box_office	runtime	studio  6 non-null      object
dtypes: object(1)
memory usage: 525.8+ KB

None

In [19]:
#this dataset looks interesting.
#has 26000+ entries.
#variables are:
#vote counts
#popularity
#release date
#"original_title" - which may be good to map over "movie" in dataset 11 below.
dataset_10 = pd.read_csv('tmdb.movies.csv.gz')
display(dataset_10.head())
display(dataset_10.info())

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

None

In [22]:
dataset_11 = pd.read_csv('tn.movie_budgets.csv.gz')
display(dataset_11.head())
display(dataset_11.info())

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

None

In [23]:
df = dataset_11[['domestic_gross', 'worldwide_gross']]
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [24]:
df_result_1 = dataset_11['domestic_gross'].str.replace('$', '')
df_result_1

<ipython-input-24-2af7a36152e5>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_result_1 = dataset_11['domestic_gross'].str.replace('$', '')

0       760,507,625
1       241,063,875
2        42,762,350
3       459,005,868
4       620,181,382
           ...
5777              0
5778         48,482
5779          1,338
5780              0
5781        181,041
Name: domestic_gross, Length: 5782, dtype: object

In [25]:
df_result_2 = df_result_1.str.replace(',', '')
df_result_2

0       760507625
1       241063875
2        42762350
3       459005868
4       620181382
          ...
5777            0
5778        48482
5779         1338
5780            0
5781       181041
Name: domestic_gross, Length: 5782, dtype: object

In [26]:
df_result_3 = df_result_2.astype(int)
df_result_3

0       760507625
1       241063875
2        42762350
3       459005868
4       620181382
          ...
5777            0
5778        48482
5779         1338
5780            0
5781       181041
Name: domestic_gross, Length: 5782, dtype: int64

In [28]:
df_result_4 = np.where(df_result_3 > 100000)
df_result_4

(array([   0,    1,    2, ..., 5773, 5774, 5781]),)

In [27]:
df_result = np.where(df['domestic_gross'] > df['worldwide_gross'])
df_result

(array([   0,    1,    2, ..., 5643, 5656, 5778]),)

In [ ]:
SUMMARY
Project will consider these datasets: 'tn.movie_budgets.csv.gz' and 'tmdb.movies.csv.gz' and 'imdb.title.basics.csv.gz'


The bottom line for the "success" of a film is the money it makes (Revenue).
Variables that may influence the "success" of a film:

Domestic Gross Revenue
Worldwide Gross Revenue
Average Vote Rating
Vote Count
Popularity
Release Date
Film Title
Genre
Project will create two new features for these datasets: